<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="laser_joint" type="fixed">
        <parent link="chassis" />
        <child link="laser_link" />
        <origin xyz="0.3 0 0.2" rpy="0 0 0" />
    </joint>

    <link name="laser_link">
        <visual>
            <origin xyz="0 0 0.05" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.05" />
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.05" />
            </geometry>
        </collision>
        <xacro:cylinder_inertia m="0.1" r="0.05" l="0.05" o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>

</robot>